* {
    box-sizing: inherit;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf');
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

h2, h3 {
    font-family: 'idroid', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(rgb(255, 255, 255), rgb(228, 255, 221));
}

header {
    width: 100%;
    background: linear-gradient(to top, rgb(0, 43, 0), rgb(131, 253, 131));
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.397);
}

.content_header {
    margin-bottom: 10px;
    color: rgb(245, 245, 245);
    text-shadow: 1px 1.5px 5px rgba(0, 0, 0, 0.397);
}

.content_header h1 {
    font-size: 2.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.content_header p {
    font-size: 1em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
}

nav {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    text-shadow: 1px 1.5px 5px 10px rgba(0, 0, 0, 0.397);
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    transition: all 280ms ease-in-out;
}


nav a:after,
nav a:before {
    backface-visibility: hidden;
    border: 1px solid rgba(255, 255, 255, 0);
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0 auto;
    position: relative;
    transition: all 280ms ease-in-out;
    width: 0;
}

nav a:hover:after,
nav a:hover:before {
    backface-visibility: hidden;
    border-color: #fff;
    transition: width 350ms ease-in-out;
    width: 100%;
}

nav a:hover:before {
    bottom: auto;
    top: 0;
    width: 100%;
}

main {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.box-white {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.199);
    margin-bottom: 20px;
}

main p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-indent: 2em;
    text-align: justify;
}

#content h2 {
    font-size: 1.9em;
    color: #1b721b;
    margin-bottom: 20px;
}

#content h3 {
    font-size: 1.4em;
    color: #1b721b;
    margin-bottom: 20px;
}

#content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

#video {
    background-color: #0e3a0e;
    padding: 30px 0;
    margin: 20px 0;
}

#video iframe {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: auto;
    aspect-ratio: 16/9;
}

#more {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.199);
}

.greenbox {
    padding: 10px;
    background-color: rgba(191, 255, 191, 0.425);
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.199);
    border-radius: 10px;
}

.greentop {
    background-color: rgb(0, 43, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 10px;
}

.list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    text-decoration: none;
}
footer {
    width: 100%;
    background: linear-gradient(to top, rgb(0, 17, 0), rgb(31, 59, 31));
    padding: 2px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 10px 3px rgba(0, 0, 0, 0.397);
    font-size: 1em;
}