@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: rgba(16, 59, 16, 0.418);
    font-family:
    }

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;
    font-family: "New Tegomin", serif;
    font-weight: bolder;
    font-size: 2em;
}

header > p {
    color: darkgrey;
    padding-bottom: 50px;
}

section {
    padding-top: 10%;
    padding-bottom: 10%;
    line-height: 2em;
    padding-left: 30px;
    font-family: "New Tegomin", serif;
    font-size: 2em;
    font-weight: 900;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.img {
    background-color: darkslategrey;
    color: white;
    box-shadow: inset 6px 6px 20px rgba(0, 0, 0, 0.63);
    background-attachment: fixed;
}

section.img > p {
    background-color: rgba(0, 0, 0, 0.712);
    width: 400px;
    text-shadow: 2px 1px 2px black;
    border: none;
}

section#img01 {
    background-image: url(imagemprojetomacaco/macacozelador.png);
    background-size: cover;
    background-position: right center;

}

section#img02 {
    background-image: url(imagemprojetomacaco/macacoheroi.png);
    background-size: cover;

}

footer {
    background-color: black;
    color: white;
    text-align: justify;
    padding: 5px 0px;
    font-variant: small-caps;
    font-weight: normal;
    font-size: 1.5em;
    padding: 10px;
}