div {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    display: inline-block;
}
h1:hover {
    color: red;
}
div:hover {
    transform: scale(1.1);
}

div#d1 {
    background-color: green;
}
div#d2 {
    background-color: red;
}
div#d3 {
    background-color: blue;
}