h1 {
    background-color: blueviolet;
    color: white;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    padding: 2px 0px 2px 8px
}

a {
    font-weight: bold;
    text-decoration: none;
    color: blue;
    border-color: blue;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 2px 6px 2px 6px;
}

a:hover {
    background-color: blue;
    color: white;
}