body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

div {
    padding: 10px; /* Adiciona padding ao div */
    background-clip: content-box; /* Ajusta o tamanho do background-color */
}

div > p {
    display: none;
    color: yellow;
    background-color: red;
}
div:hover > p {
    display: block;
}