body {
    display: flex;
    align-items: center;
    height: 600px;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: black;
    color: #FFFFFF;
    width: 40%;
}
main {
    margin: 0 auto;
    padding: 10px;
    width: 90%;
    background-image: url('img/estrela.jpg');
    background-position: center;
    color: #FFFFFF;
    border-radius: 20%;
}
h1 {
    border-radius: 10px;
    padding: 0 10px;
    background-color: rgba(0, 0, 0, 0.699);
    font-size: 2em;
    color: yellow;
    margin: 0;
}
a {
    color: rgb(61, 15, 15);
    text-decoration: none;
    font-size: 1.5em;
}
a img {
    text-align: center;
    width: 400px;
    border-radius: 40%;
}
a:hover {
    color: yellow;

}